<div class="bg-header">
    <div class="header-items">
        <img src="assets/Logo.png" alt="Logo" height="60" class="logo"/>
        <h1 class="title-header">
          La Vida Inefable
        </h1>
    </div>
    <nav class="nav">
        <a routerLink="/" routerLinkActive="active" class="active">Inicio</a>
        <a routerLink="/ilustrations" routerLinkActive="active">Ilustraciones</a>
        <a routerLink="/comics" routerLinkActive="active">Comics</a>
        <a routerLink="/pictures" routerLinkActive="active">Fotografias</a>
        <a routerLink="/escritos" routerLinkActive="active">Escritos</a>
    </nav>

    <div class="social-icons">
        <a href="https://www.instagram.com/lavidainefable/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://open.spotify.com/user/b4z5wipzpah36zav4yggbqhku?si=3a8c4b103e244716" target="_blank" aria-label="Spotify"><i class="fab fa-spotify"></i></a>
    </div>
</div>
