<header class="bg-header py-4 shadow-sm">
    <div class="container-fluid d-flex align-items-center justify-content-center gap-6">
        <img src="assets/Logo.png" alt="Logo" height="60" class="logo"/>
        <h1 class="fs-2 fw-bold mb-0" style="font-family: 'Dancing Script', cursive;">
          La Vida Inefable
        </h1>
    </div>
    <nav class="mt-3 d-flex justify-content-center gap-5">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Inicio</a>
        <a routerLink="/ilustrations" routerLinkActive="active" class="nav-link">Ilustraciones</a>
    </nav>
</header>
