<div class="bg-header">
    <div class="header-items">
        <img src="assets/Logo.png" alt="Logo" height="60" class="logo"/>
        <h1 class="title-header">
          La Vida Inefable
        </h1>
    </div>
    <div class="nav-items">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Inicio</a>
        <a routerLink="/ilustrations" routerLinkActive="active" class="nav-link">Ilustraciones</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link">Fotografias</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link">Escritos</a>
    </div>
</div>
