<section>
    <h2 class="headers-title">Sobre Mi</h2>
    <div class="container-info">
        <div class="carrousel">
            <img [src]="currentImage" alt="Foto personal"/>
        </div>
        <div class="bio-text">
            <p>
                Alejandra Vargas es una artista colombiana cuya obra combina ilustración,
                escritura y diseño gráfico. A través de sus creaciones busca explorar la salud
                mental, la memoria colectiva y las emociones humanas. Su trabajo es profundamente
                narrativo y se apoya en experiencias personales para resonar con un público más amplio.
                Con sus ilustraciones busca apoyar a personas que se sientan identificadas con la misma situación
                y que en verdad necesiten ayuda. Sus creaciones son algunas 100% hechas a mano y luego convertidas en digital,
                lo cual hace que su trabajo sea mucho más detallado.
              </p>
              <p>
                Actualmente reside en Bogotá, donde continúa desarrollando proyectos artísticos
                independientes y colaborativos, promoviendo el arte como herramienta de expresión y sanación.
              </p>
              <div class="contact-button-container">
                <a href="https://wa.me/573222406912" target="_blank" class="whatsapp-button">
                    <i class="fab fa-whatsapp"></i> Contáctame
                </a>
            </div>
        </div>
    </div>
</section>