/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
  font-family: "Winky Rough", sans-serif !important;
  margin: 0;
  overflow-x: hidden;
}

.app-container {
  display: flex;
}

/* Mueve el contenido principal a la derecha para dejar espacio al menú */
.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
}

/* RESPONSIVE: En móviles, ocultar el menú lateral por defecto */
@media (max-width: 768px) {
  .bg-header {
    position: fixed;
    left: -260px;
    transition: left 0.3s ease-in-out;
  }

  .bg-header.active {
    left: 0;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
